body{
    background-color: black;
}
.table-container{
    display: flex;
    justify-content: center;
    align-items: center; /* Center vertically */
    height: 90vh; /* Use full viewport height */
}
.button{
     /* Your existing button styles */
     background-color: #fdfdfd;
     border: none;
     color: rgb(0, 0, 0);
     padding: 15px 32px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     margin: 4px 2px;
     cursor: pointer;
     border-radius: 4px;
 
     /* Center alignment */
     display: block;
     margin: 0 auto;
    
}
h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font: Georgia;
    color: #fefefe;
}
.table{
    color: rgb(255, 255, 255);
    height: 50%;
    width: 50%;
}
th, td {
    border: 1px solid #ddd; /* Add border to all table cells */
    padding: 8px; /* Add padding to improve readability */
    text-align: center; /* Adjust text alignment as needed */
}
th{
    background-color: #333;
}
a {
    text-decoration: none;
  }
